/* https://coolors.co/ebe9e9-f3f8f2-3581b8-fcb07e-dee2d6 */

html,
body {
    min-height: 100%;
}

* {
    outline: none;
    box-sizing: border-box;
}

a {
    color: rgb(20, 20, 20);    
}

body {
    background: url('../assets/background.jpg') center center no-repeat;
    background-size: cover;
    padding: 22% 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(20, 20, 20);
}

@media screen and (min-width: 1024px) {
    body {
        padding: 10% 0;
    }
}

body::before,
body::after {
    content: '';
    position: fixed;
    top: -140px;
    left: 50%;
    transform: translateX(-50%) rotate(-2deg);
    height: 200px;
    width: 200em;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

body::after {
    bottom: -140px;
    top: auto;
}

.layout {
    padding: 0 10px;
}

.searchbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto 10px;
    padding: 10px;
    background-color: #DEE2D6;
    border-radius: 4px;
    max-width: 600px;
}


.searchbox label {
    color: #FCB07E;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem; 
    width: 100%;
    margin-bottom: 10px;
}

.searchbox input {
    line-height: 30px;
    padding: 0 10px;
    border: 0;
    border-radius: 4px 0 0 4px;
    flex-grow: 2;
}

.searchbox button {
    line-height: 30px;
    padding: 0 10px;
    border-radius: 0 4px 4px 0;
    transition: padding .2s;
}

.searchbox button:hover {
    padding: 0 20px;
}

.list {
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto 10px;
    padding: 0;
    list-style-type: none;
    max-width: 600px;
}

.list li {
    position: relative;
}

.list a {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #DEE2D6;
    transition: padding .2s;
}

.list a:hover {
    padding: 10px 10px 10px 20px;
}

.list li:last-child a {
    border: 0;
}

.pager {
    text-align: center;
}

.primary {
    padding: 10px;
    background: #3581B8;
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: 'Lobster', cursive;
}

.secondary {
    background-color: #FCB07E;
    color: #F3F8F2;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    transition: padding .2s;
    border-radius: 4px;
}

.secondary:hover {
    padding: 10px 20px;
}

.pager span {
    border-right: 1px solid #F3F8F2;
}
    

.pager span:last-child {
    border-right: 0;
}

.pager .prev {
    border-radius: 4px 0 0 4px;
}

.pager .prev:last-child {
    border-radius: 4px;
}

.pager .next {
    border-radius: 0 4px 4px 0;
}

.pager .next:first-child {
    border-radius: 4px;
}

.single {
    max-width: 600px;
    margin: auto;
}

.single .wrap {
    background: white;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.single img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.single h1 {
    color: #3581B8;
    font-family: 'Lobster', cursive;
}

.single .bookmark-switch {
    position: static;
}

.single .bookmark-switch .state {
    padding: 10px;
    background: #3581B8;
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    display: block;
    opacity: 1;
    text-align: center;
    font-size: 1.5rem;
}

.single .bookmark-switch .label {
    display: inline;
}

.single .bookmark-switch .state::after {
    content: none;
}
    

@media screen and (min-width: 1024px) {
    .single img {
        float: left;
        margin: 0 10px 10px 0;
    }

    .single .bookmark-switch {
        float: left;
    }
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.loader {
    position: fixed;
    right: 10px;
    bottom: -100px;
    opacity: 0;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K') no-repeat center center;
    width: 40px;
    height: 40px;
    z-index: 10;
    animation: rotating 2s linear infinite;
    transition: opacity .2s, bottom .2s;
}
  
.loader.true {
    bottom: 10px;
    opacity: 1;
}

header a {
    position: fixed;
    top: 20px;
    left: 20px;
    font-family: 'Lobster', cursive;
    text-decoration: none;
}

footer {
    font-size: .8rem;
    position: fixed;
    bottom: 10px;
    left: 20px;
    z-index: 10;
}

.bookmarks-link {
    left: auto;
    right: 20px;
    top: 6px;
  }
  
  .bookmarks-link .label {
    display: none;
  }
  
  .bookmarks-link .count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    font-size: 10px;
    border-radius: 200em;
    line-height: 15px;
    height: 15px;
    width: 15px;
    text-align: center;
  }
  
  .bookmarks-link::before {
    content: url('../assets/heart.svg');
    opacity: .6;
    width: 30px;
    display: inline-block;
    transition: opacity .2s;
  }
  
  .bookmarks-link:hover::before {
    opacity: 1;
  }

  .bookmark-switch {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
  }
  
  .bookmark-switch .state::after {
    content: url('../assets/heart.svg');
    width: 25px;
    display: inline-block;
  }
  
  .bookmark-switch .label {
    display: none;
  }
  
  .bookmark-switch .on {
    opacity: .3;
  }
